html {
    background-color: #ECF0F1;
}

body, h1, h2 {
    font-family: Helvetica, Sans-serif;
    color: #2C3E50;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h2 {
    font-size: 36px;
}

.container {
    margin: 4em;
    text-align: center;
}

.loader {
    margin: auto;
    border: 16px solid #BDC3C7;
    width: 120px;
    height: 120px;
    border-top-color: #1ABC9C;
    border-bottom-color: #3498DB;
    border-radius: 50%;
}